@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(asset/Background\ Black.jpg);
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.navbar-toggler {
  margin-left: 20px;
}

.logo {
  width: 100px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.btn.btn-success {
    background-color: #9db253;
}

.footer {
  position: relative;;
  color: #fff;
  background-color: #9db253;
  font-weight: 600;
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 100%;
}

/*Main Home*/

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.home-content {
  max-width: 700px;
  width: 100%;
}

.profile-image {
  order: 2; 
}

.profile-image img {
  max-width: 400px;float: right;
}

.btn {
    margin-left: -10px;
}

.home-content h1,
.home-content span,
.home-content p,
.home-content .btn {
  animation: fadeIn 1s ease forwards;
  color: #fff;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
}

.home-content span {
  font-size: 25px;
  font-weight: 700;
  color: #9db253;
}

.home-content p {
  font-size: 20px;
  margin: 20px 0 40px;
}

.home-content p a {
  color: #9db253;
}

.home-content .btn {
  display: inline-block;
  color: #9db253;
  font-size: 25px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.home-content .btn:hover {
  color: #fff;
  border-color: transparent;
  text-shadow: 0 0 20px #9db253;
}

.socmed a i {
  color:#fff;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-right: 10px;
  transition: transform 0.4s cubic-bezier(.39,.575,.565,1.000), border 0.4s cubic-bezier(.39,.575,.565,1.000), border-radius 0.4s cubic-bezier(.39,.575,.565,1.000);
}

.socmed a i:hover {
  transform: scale(1.3); /* Scaling up sebanyak 20% */
  border: 2px solid #9db253;
  border-radius: 0%; /* Ubah warna border saat dihover */
  background: #fff;
  color: #000;
}
.socmed a i:last-child {
  margin-right: 10px;
  margin-left: 10px;
}

/*Main About*/

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom:100px;
}

#about .about-content {
  width: 60%;
  margin-left: 60px; /* Sesuaikan margin kiri sesuai kebutuhan */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px; 
  padding: 60px;
}

#about h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

#about span {
  font-size: 50px;
  font-weight: 700;
  color: #9db253;
}

#about p {
  font-size: 16px;
  margin-top: 40px;
  color: #fff;
  text-align: start;
}

#about li {
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
  text-align: start;
}
/*Card Skill*/
.container.mt-5 {
  width: 30%;
  margin-right: 80px;
  margin-bottom: 40px;
}
.card.text-center {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.card-header h2{
  margin-top: 15px;
  color: #fff;
  font-weight: 600;
}
.nav-item-skill {
  background: #9db253;
}
.nav-item-skill a {
  color: #fff;
}
.card {
  width: 100%;
}
.list-group {
  cursor: pointer;
}
.list-group-item {
  color: #000 !important;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
}
.list-group-item img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.list-group-item::before {
  content: attr(data-description);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  transition: left 0.3s ease;
}

.list-group-item:hover::before {
  left: 0;
}

.list-group-item {
  position: relative;
  display: flex;
  align-items: center;
}

#programmingLanguagelogo {
  position: absolute;
  left: -50px; /* Sesuaikan dengan lebar logo dan jarak yang diinginkan */
  opacity: 0;
  transition: left 0.3s, opacity 0.3s;
}

.list-group-item:hover #programmingLanguagelogo {
  left: 0;
  opacity: 1;
}

.image-container {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Sesuaikan jarak antar gambar */
}

.programmingLanguageImage {
  max-width: 50px; /* Sesuaikan lebar maksimal gambar */
  max-height: 50px; /* Sesuaikan tinggi maksimal gambar */
  margin-right: 5px; /* Sesuaikan jarak antar gambar */
}

/*MyJourney Content*/

#journey {
  display:flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
}

.Journey-content {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px; 
  padding: 60px
}
.Journey-content h1 {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}
.heading-journey span {
  color: #9db253;
}
#accordionFlushExample {
  margin-top: 50px;
}
.edu-univ h3,
.edu-univ h5 {
  text-align: center;
}
.edu-univ .year {
  text-align: center;
}
.edu-univ p {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.edu-univ a {
  color: #3498db;
}
.exp,
.certificated {
  margin-left: 30px;
  margin-right: 30px;
}
.exp h4, h5,
.certificated h4{
  text-align: start;
}
.crendential a{
  color: #3498db;
}


@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}


@media screen and (max-width: 768px) {
  body {
    background-attachment: scroll;
  }

  .navbar-toggler {
    margin-left: 10px;
  }

  .logo {
    width: 80px;
  }

  .navbar-brand {
    margin-right: 10px;
  }

  .offcanvas-header {
    text-align: center;
  }

  .offcanvas-header img {
    width: 80px;
  }

  .offcanvas-body {
    padding: 10px;
  }

  .navbar-nav.flex-column {
    margin-top: 20px;
  }

  .d-flex {
    flex-direction: column;
    align-items: stretch;
  }

  .form-control {
    margin-left: -5px;
    margin-bottom: 10px;
  }

  .Home {
    align-items: center; /* Align content to the top */
  }

  .home-content {
    text-align: center;
    margin-top: 20%;
  }

  .profile-image {
    order: 2;
    margin-top: 20px;
  }

  .profile-image img {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .home-content h1 {
    font-size: 40px;
  }

  .home-content span,
  .home-content p,
  .home-content .btn {
    font-size: 16px;
  }

  .socmed a i {
    margin-top: 0;
  }

  .chat-toggle-btn {
    right: 10px;
  }

  #about {
    margin-top: 60%; /* Adjust this value based on your preference */
  }

  #about .about-content {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .container.mt-5 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
}

  




@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideLeft {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
