@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(asset/Background\ Black.jpg);
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

.navbar-toggler {
  margin-left: 20px;
}

.wrapper {
  display: grid;
  height: 50px;
  width: 200px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: none;
  margin: 0 auto;
  animation: animate 1.5s linear infinite;
}
.wrapper .display,
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .display {
  background: #1b1b1b;
  z-index: 999;
  height: 35px;
  width: 190px;
  border-radius: 6px;
  text-align: center;
}
.wrapper .display #time {
  line-height: 35px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}


.logo {
  width: 100px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.btn.btn-success {
    background-color: #9db253;
}

.footer {
  position: relative;;
  color: #fff;
  background-color: #9db253;
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}

/*Main Home*/

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.home-content {
  max-width: 700px;
  width: 100%;
  margin-top: 10%;
}

.profile-image {
  order: 2; 
}

.profile-image img {
  max-width: 400px;float: right;
}

.btn {
    margin-left: -10px;
}

.home-content h1,
.home-content span,
.home-content p,
.home-content .btn {
  animation: fadeIn 1s ease forwards;
  color: #fff;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
}

.home-content span {
  font-size: 25px;
  font-weight: 700;
  color: #9db253;
}

.home-content p {
  font-size: 20px;
  margin: 20px 0 40px;
}

.home-content p a {
  color: #9db253;
}

.home-content .btn {
  display: inline-block;
  color: #9db253;
  font-size: 25px;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.home-content .btn:hover {
  color: #fff;
  border-color: transparent;
  text-shadow: 0 0 20px #9db253;
}

.socmed .btn-socmed{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  margin-top: 10%;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
  transition: all 0.3s ease-out;
}
.socmed .btn-socmed:hover{
  width: 200px;
}
.socmed .btn-socmed .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all .3s ease-out;
}
.socmed .btn-socmed:nth-child(1):hover .icon{
  background: #0e76a8;
}
.socmed .btn-socmed:nth-child(2):hover .icon{
  background: #171515 ;
}
.socmed .btn-socmed:nth-child(3):hover .icon{
  background: #E1306c;
}

.socmed .btn-socmed .icon i{
  font-size: 30px;
  line-height: 60px;
  transition: all .3s ease-out;
}
.socmed .btn-socmed:hover .icon i{
  color: #fff;
}
.socmed .btn-socmed a {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 15px;
}
.socmed .btn-socmed:nth-child(1):hover a{
  color: #0e76a8;
}
.socmed .btn-socmed:nth-child(2):hover a{
  color: #171515 ;
}
.socmed .btn-socmed:nth-child(3):hover a{
  color: #E1306c;
}

/*Main About*/

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom:100px;
}

#about .about-content {
  width: 60%;
  margin-left: 60px; /* Sesuaikan margin kiri sesuai kebutuhan */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px; 
  padding: 60px;
}

#about h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

#about span {
  font-size: 50px;
  font-weight: 700;
  color: #9db253;
}

#about p {
  font-size: 16px;
  margin-top: 40px;
  color: #fff;
  text-align: start;
}

#about li {
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
  text-align: start;
}
/*Card Skill*/
.container.mt-5 {
  width: 30%;
  margin-right: 80px;
  margin-bottom: 40px;
}
.card.text-center {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.card-header h2{
  margin-top: 15px;
  color: #fff;
  font-weight: 600;
}
.nav-item-skill {
  background: #9db253;
}
.nav-item-skill a {
  color: #fff;
}
.card {
  width: 100%;
}
.list-group {
  cursor: pointer;
}
.list-group-item {
  color: #000 !important;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
}
.list-group-item img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.list-group-item::before {
  content: attr(data-description);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  transition: left 0.3s ease;
}

.list-group-item:hover::before {
  left: 0;
}

.list-group-item {
  position: relative;
  display: flex;
  align-items: center;
}

#programmingLanguagelogo {
  position: absolute;
  left: -50px; /* Sesuaikan dengan lebar logo dan jarak yang diinginkan */
  opacity: 0;
  transition: left 0.3s, opacity 0.3s;
}

.list-group-item:hover #programmingLanguagelogo {
  left: 0;
  opacity: 1;
}

.image-container {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Sesuaikan jarak antar gambar */
}

.programmingLanguageImage {
  max-width: 50px; /* Sesuaikan lebar maksimal gambar */
  max-height: 50px; /* Sesuaikan tinggi maksimal gambar */
  margin-right: 5px; /* Sesuaikan jarak antar gambar */
}

/*MyJourney Content*/

#journey {
  display:flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
}

.Journey-content {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px; 
  padding: 40px
}
.Journey-content h1 {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
}
.heading-journey span {
  color: #9db253;
}
#accordionFlushExample {
  margin-top: 50px;
}
.edu-univ h3,
.edu-univ h5 {
  text-align: center;
}
.edu-univ .year {
  text-align: center;
}
.edu-univ p {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.edu-univ a {
  color: #3498db;
}
.exp,
.certificated {
  margin-left: 30px;
  margin-right: 30px;
}
.exp h4, h5,
.certificated h4{
  text-align: start;
}
.crendential a{
  color: #3498db;
}


/*Project*/
#project {
  padding: 50px 0;
  background-color: #333;
}
.Project .container-project span{
  color: #9db253;
  font-weight: 600;
  font-size: 50px;
}
.container-project h1 {
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
}

.project-list {
  display: flex;
  grid-gap: 30px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), cyan);
  border-radius: 10px;
  color: #fff;
  padding: 0 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 30px;
}

.layer a {
  margin-top: 0px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.layer p {
  font-size: 20px;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

iframe {
  width: 80%;
  height: 80vh;
  border: none;
}

 .btn-survey {
  width: 100%;
  padding: 15px 30px;
  font-size: 32px;
  font-weight: 600;
  background-color: #61dafb;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-survey:hover {
  background-color: #4fa3d1;
}

/*Breakout*/
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}


@media screen and (max-width: 768px) {
  body {
    background-attachment: scroll;
  }

  .navbar-toggler {
    margin-left: 10px;
  }

  .logo {
    width: 80px;
  }

  .navbar-brand {
    margin-right: 10px;
  }

  .offcanvas-header {
    text-align: center;
  }

  .offcanvas-header img {
    width: 80px;
  }

  .offcanvas-body {
    padding: 10px;
  }

  .navbar-nav.flex-column {
    margin-top: 20px;
  }

  .d-flex {
    flex-direction: column;
    align-items: stretch;
  }

  .form-control {
    margin-left: -5px;
    margin-bottom: 10px;
  }

  .Home {
    align-items: center; /* Align content to the top */
  }

  .home-content {
    text-align: center;
    margin-top: 20%;
  }

  .profile-image {
    order: 2;
    margin-top: 20px;
  }

  .profile-image img {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .home-content h1 {
    font-size: 40px;
  }

  .home-content span,
  .home-content p,
  .home-content .btn {
    font-size: 16px;
  }

  .socmed a i {
    margin-top: 0;
  }

  .chat-toggle-btn {
    right: 10px;
  }

  #about {
    margin-top: 60%; /* Adjust this value based on your preference */
  }

  #about .about-content {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .container.mt-5 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.Journey-content {
  width: 100%;
  margin-top: -10%;
}
.accordion-flush {
  max-width: 100%;
}
.Project{
  margin-top: -10px;
}
.project-list {
  display: grid;
  max-width: 70%;
  margin: 0 auto;
}
}




@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideLeft {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes animate {
  100%{
      filter: hue-rotate(360deg);
  }
}
